# Core development and data science
ipython
jupyterlab
notebook
numpy
pandas
scikit-learn
tqdm
matplotlib
seaborn
adjustText
nltk
loguru
typer
ruff
python-dotenv

# NLP and embeddings
gensim
torch
transformers
sentence-transformers

# Optional: install datasets like GloVe externally
# ! wget http://nlp.stanford.edu/data/glove.6B.zip

# Editable install (if using local modules)
-e .
