ipython
jupyterlab
loguru
matplotlib
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
tqdm
typer
adjustText
nltk
seaborn
gensim
torch
transformers
sentence-transformers
# Optional: install datasets like GloVe externally
# ! wget http://nlp.stanford.edu/data/glove.6B.zip

-e .
